

[class*="entypo-"]:before { font-family: 'entypo', sans-serif; }
body {
    background-color: #ecf0f1;
    font: 300 1.25em/1.4 "Lato", sans-serif;
    color: #686868;
}
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
h1, .sub-heading {
    text-align: center;
    margin: .5rem 0 1rem;
}
.sub-heading {
    font-size: .75em;
    font-weight: 300;
}

/**
 * @section: utilities;
 * @see: Justify Grid [http://justifygrid.com/]
 */
._grid {
    text-align: justify !important;
    /*text-justify: distribute-all-lines;*/
    font-size: 0 !important;
    text-rendering: optimizespeed;
}
._grid:after {
    content: "";
    display: inline-block;
    width: 100%;
}
._column {
    display: inline-block;
    vertical-align: top;
    font-size: medium;
    text-align: left;
    text-rendering: optimizeLegibility;
}
._btn {
    display: inline-block;
    background-color: #bdc3c7;
    border: none;
    padding: .5em .75em;
    text-align: center;
    font-weight: 300;
}
._btn:hover,
.cart-totals:hover ._btn {
    background-color: #3498db;
    color: #ecf0f1;
}

/**
 * @section: shopping-cart;
 */
.shopping-cart {
    width: 80%;
    max-width: 60rem;
    margin: 0 auto;
}
/**
 * @extends: _grid;
 */
.shopping-cart--list-item {
    border: 1px solid #bdc3c7;
    margin-bottom: 3rem;
    height: 10rem;
    overflow: hidden;
}
.shopping-cart--list-item:hover,
.shopping-cart--list-item:hover * {
    border-color: #3498db;
}
.shopping-cart--list-item > ._column {
    height: 100%; /* make vertical lines match */
}

/**
 * @section: product-image;
 * @extends: _column;
 */


/**
 * @section: product-info;
 * @extends: _column;
 */
.product-info {
    width: 80.832119%;
    padding: .5rem;
}
.product-name {
    font: 300 1.8em/1 "Lato", sans-serif;
    letter-spacing: -.025em;
    margin: 0 0 .125em;
}
.price {
    line-height: 1;
    text-align: right;
}
.product-single-price {
    margin-top: -1rem;
    font-size: 2.4em;
}

/**
 * @section: product-modifiers;
 * @extends: _column;
 */
.product-modifiers {
    width: 12.496358%;
    text-align: right;
    border-left: 1px solid #bdc3c7;
}
.product-subtract,
.product-plus,
.product-qty {
    width: 33.330557%;
    background-color: transparent;
    color: #686868;
    text-align: center;
}

.product-subtract:hover {

    background-color: #e74c3c !important;

}
.product-qty {
    padding: .35em .75em;
}
.product-remove {
    font-size: .875em;
    margin-top: 3.35rem;
    background-color: #e74c3c;
    color: #ecf0f1;
    width: 100%;
    visibility: visible;
}
.product-modifiers:hover .product-remove {
    visibility: visible;
}
.product-remove:before {
    margin-right: .5em;
}
.product-remove:hover {
    background-color: #c0392b;
}
.product-total-price {
    border-top: 1px solid #bdc3c7;
    background-color: #3498db;
    color: #ecf0f1;
    font-size: 1.25em;
    padding: .5rem;
}
.shopping-cart--list-item:hover .product-total-price {
    background-color: #3498db;
    color: #ecf0f1;
}

/**
 * @section: cart-totals;
 * @extends: _grid;
 */
.cart-totals {
    border-top: 1px solid #bdc3c7;
    margin-bottom: 3rem;
}
.cart-totals ._column {
    width: 19.984013%;
    padding: .5rem;
    line-height: 1.2;
}
.cart-totals ._column:not(:last-of-type) {
    border-right: 1px solid #bdc3c7;
}
.cart-totals ._column:first-of-type {
    padding-left: 0;
}
.cart-totals-key {
    font-size: 1.125em;
    color: #bdc3c7;
}
.cart-totals ._column:hover .cart-totals-value,
.cart-totals ._column:hover .cart-totals-key {
    color: #333;
}
.cart-totals-value {
    font-size: 2em;
}
._column.checkout {
    text-align: right;
    padding: 0;
    margin-top: 1.5em;
    vertical-align: middle;
}
.checkout-btn:before {
    margin-right: .5em;
}
._btn.checkout-btn:hover {
    background-color: #2980b9;
}

/**
 * Animations
 */
.product-remove,
.cart-totals * {
    transition: all .2s ease;
}
.closing {
    transition: all .5s ease;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
}


.circle
{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #949494 ;
}

.circle:hover
{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #e74c3c ;
}

.cancel
{
    line-height: 30px;
    width: 40px;
    margin-top: 25px;
    padding: 10px ;
    margin-right: 35px;
    position:absolute;
    top:0;
    right:0;
}


/*CREDIT CARD*/

.container_credit {
    margin: 2em auto 1em;
    position: relative;
    box-sizing: border-box;
}
.p_credit {
    margin: 0 0 3em;
}
.fa-lock {
    position: fixed;
    color: #5ed9eb;
    right: 2.3em;
    top: 1.2em;
    line-height: 3em;
    border-radius: 100%;
}
.h1_credit {
    color: #5ed9eb;
    margin: 0;
    background: rgba(94,217,235,0.3);
    font-weight: 700;
    line-height: 1;
    padding: 2em 1em;
    font-size: 1em;
    letter-spacing: 0.5em;
    font-family: 'Montserrat';
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
}
.h1_credit .span_credit {
    color: #5ed9eb;
    margin: 0 0 0;
    display: block;
    font-size: 6em;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    font-family: 'Roboto Mono';
}
.h1_credit .span_credit:before {
    content: '$';
    font-size: 0.5em;
    position: relative;
    top: -0.6em;
    left: -0.2em;
}
.h1_credit .span_credit:after {
    content: '00';
    font-size: 0.3em;
    position: relative;
    letter-spacing: 0.03em;
    top: -1.7em;
    right: -0.1em;
}
.form_credit {
    padding-top: 1em;
    margin: 0;
    width: 18em;
    margin: auto;
    text-align: center;
}
.label_credit {
    color: rgba(0,0,0,0.6);
    margin-bottom: 0;
    padding: 0.1em 0.5em;
    width: 100%;
    font-size: 0.8em;
    background: rgba(255,255,0,0.3);
}
.input_credit {
    display: block;
    border: none;
    border-bottom: 2px dotted rgba(0,0,0,0.2);
    padding: 1.2em 0.2em 0.4em;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.01em;
    box-sizing: border-box;
    background: transparent;
    font-family: 'Roboto Mono';
}
.input_credit:focus {
    outline: none;
    border-bottom: 2px solid #5ed9eb;
    background: transparent;
}
.input_credit[type="submit"] {
    width: 100%;
    background: rgba(94,217,235,0.3);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    border: none;
    padding: 1.5em 0.8em;
    color: #5ed9eb;
    margin-top: 4em;
    margin-bottom: 0;
    font-size: 1em;
    border-radius: 3px;
    font-weight: bold;
    font-family: 'Roboto';
}
.input_credit[type="submit"]:hover {
    background: #5ed9eb;
    border-color: #5ed9eb;
    color: #fff;
}
::-webkit-input-placeholder {
    color: rgba(0,0,0,0.16);
}
:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0,0,0,0.2);
    font-style: italic;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0,0,0,0.2);
    font-style: italic;
}
:-ms-input-placeholder {
    color: rgba(0,0,0,0.2);
    font-style: italic;
}
